src/main/mule/new-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="3359d241-f4a0-4ab2-b706-e73aedbdceb1" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" />
	</db:config>
	<flow name="new-testFlow" doc:id="35438d04-d1c4-49af-a6c1-39be51a765bc" >
		<http:listener doc:name="Listener" doc:id="fef6272c-555a-4e5a-bbc6-227c8e90f0dd" path="/test" config-ref="HTTP_Listener_config1">
			<http:response >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:response>
		</http:listener>
		<db:select doc:name="Select" doc:id="9538af1c-69f3-48f0-97cd-b32f60760b80" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from REGISTER_TABLE]]></db:sql>
		</db:select>
		<set-payload value="#[output application/json --- payload]" doc:name="Set Payload" doc:id="43ecd1ed-3730-4671-ab1b-f36d5970a51c" />
	</flow>
</mule>
